// @use '/node_modules/@gouvfr/dsfr/dist/dsfr.css';
// @use "/node_modules/@gouvfr/dsfr/dist/utility/icons/icons.main.min.css";
@use "./starter-complet";

:root {
  --blue-bubble: #bbe6f3;
  --small-b-bubble: #bae5f2;
  --font-color: #063064;
  --border-color: rgba(117, 117, 117, 0);
}

body {
  overflow: hidden;
  background-color: #c0392b;
}

main {
  position: relative;
  height: 100vh;
  margin: auto;
  padding: 15px;
}

.logo {
  width: 30vh;
  height: 30vh;
  display: block;
  top: 35vh;
  background-repeat: no-repeat;

  &.logo-solc {
    border-radius: 50%;
    background-image: url(/assets/images/ecusson.jpg);
    background-size: cover;
    left: 0;
  }

  &.logo-comgend {
    background-image: url(/assets/images/COMGENDGP_ecusson.png);
    left: -70px;
    background-size: contain;
    background-size: contain;
    z-index: -1;
  }

}

$windowHeight : 100vh;
$radius : $windowHeight * 0.6;
$borderSize : $radius * 0.021;

.circle {
  position: absolute;
  border: $borderSize solid #fff;
  width: $radius * 2;
  height: $radius * 2;
  border-radius: $radius;
  top: -$radius * 0.2;
  left: $radius * -1;

}

// .link {
//   display: inline-block;
//   text-decoration: none;
//   color: #fff;
//   position: absolute;
//   z-index: 100;
  
// }

// .hover {
//   position: absolute;
//   display: inline-block;
//   z-index: 50;
//   opacity: 0;
// }