// @use '/node_modules/@gouvfr/dsfr/dist/dsfr.css';
// @use "/node_modules/@gouvfr/dsfr/dist/utility/icons/icons.main.min.css";
@use "./starter-complet";

:root {
  --blue-bubble: #bbe6f3;
  --small-b-bubble: #bae5f2;
  --font-color: #063064;
  --border-color: rgba(117, 117, 117, 0);
}

body {
  overflow: hidden;
  background-color: #c0392b;
}

main {
  position: relative;
  height: 100vh;
  margin: auto;
  padding: 15px;
}

.logo {
  width: 30vh;
  height: 30vh;
  display: block;
  top: 35vh;
  background-repeat: no-repeat;

  &.logo-solc {
    border-radius: 50%;
    background-image: url(/assets/images/ecusson.jpg);
    background-size: cover;
    left: 0;
  }

  &.logo-comgend {
    background-image: url(/assets/images/COMGENDGP_ecusson.png);
    left: -70px;
    background-size: contain;
    background-size: contain;
    z-index: -1;
  }

}

$windowHeight : 100; // vh
$radius : $windowHeight * 0.6; // vh
$borderSize : $radius * 0.021; // vh
$totalArea : 48;
$startPoint : 0 - calc($totalArea / 2);
$fontSize : $radius * 0.12;
$linkSize : $radius * 0.25;


.circle {
  position: absolute;
  border: #{$borderSize}vh solid #fff;
  width: #{$radius*2}vh;
  height: #{$radius * 2}vh;
  border-radius: #{$radius}vh;
  top: #{-$radius * 0.2}vh;
  left: #{$radius * -1}vh;

}

.link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  position: absolute;
  z-index: 100;
  padding-left: #{$radius *1.2 }vh;
  font-size: #{$fontSize}vh;
  height: #{$linkSize}px;
  line-height: #{$linkSize}px;
  left : #{$borderSize}px;
  top : #{calc($windowHeight / 2 - $windowHeight * 0.1) + $borderSize}vh;
  transform-origin: 0px #{$linkSize * 0.5}px;
  transition: all 0.2s ease-out;
}

.hover {
  position: absolute;
  display: inline-block;
  z-index: 50;
  opacity: 0;
  left: #{$borderSize}px;
  top : #{calc($windowHeight * 0.4) + $borderSize}px;
  width : #{$radius + calc($borderSize / 2)}px;
  height : #{$linkSize}px;
  border-right : #{$borderSize * 2}px solid #fff;
  transform-origin: 0px #{$linkSize * 0.5}px;
  transition: all 0.2s ease-out;

}